.background-white {
  background-color: white;
}

.margintop10 {
  margin-top: 10px
}

.wrapper_image {
  background-image: url('francesca-saraco-65449-unsplash');
  background-size: cover;
  background-position: center;
  height: 40vh;
}
